header {
  width: 100%;
}
header .head-up {
  background-color: rgb(51, 51, 51);
  height: 135px;
}
header .head-up .up {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .head-up .up .left {
  display: flex;
  align-items: center;
}
header .head-up .up .left i {
  text-shadow: 0px 1px rgb(187, 187, 187), 0px -1px rgb(187, 187, 187), 1px 0px rgb(187, 187, 187), -1px 0px rgb(187, 187, 187);
  font-size: 14px;
}
header .head-up .up .left span {
  color: rgb(169, 178, 187);
  margin-left: 10px;
  font-size: 13px;
}
header .head-up .up .right {
  display: flex;
  align-items: center;
  height: 38px;
}
header .head-up .up .right ul {
  display: flex;
  list-style: none;
  margin: 0;
  height: 100%;
  align-items: center;
}
header .head-up .up .right ul li {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(169, 178, 187);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s;
  height: 20px;
}
header .head-up .up .right ul li i {
  font-size: 12px;
  margin-left: 5px;
}
header .head-up .up .right ul li a {
  text-decoration: none;
  color: rgb(169, 178, 187);
  transition: all 0.5s;
}
header .head-up .up .right ul li a:hover {
  color: rgb(252, 185, 65);
}
header .head-up .up .right ul li:hover {
  color: rgb(252, 185, 65);
}
header .head-up .up .right ul .currency-dropdown {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
header .head-up .up .right ul .currency-dropdown .dropdown {
  display: none;
  position: absolute;
  margin-top: 101px;
}
header .head-up .up .right ul .currency-dropdown .dropdown .euro,
header .head-up .up .right ul .currency-dropdown .dropdown .dollar {
  height: 30px;
  display: flex;
  align-items: center;
}
header .head-up .up .right ul .currency-dropdown:hover > .dropdown {
  display: block;
  z-index: 2;
  height: 60px;
  background: white;
  width: 50px;
  padding: 0;
}
header .head-up .up .right ul .language-dropdown {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
header .head-up .up .right ul .language-dropdown .dropdown {
  display: none;
  position: absolute;
  margin-top: 131px;
}
header .head-up .up .right ul .language-dropdown .dropdown .english,
header .head-up .up .right ul .language-dropdown .dropdown .spanish,
header .head-up .up .right ul .language-dropdown .dropdown .french {
  height: 30px;
  display: flex;
  align-items: center;
}
header .head-up .up .right ul .language-dropdown:hover > .dropdown {
  display: block;
  z-index: 2;
  height: 90px;
  background: white;
  width: 65px;
  padding: 0;
}
header .head-up .line {
  height: 1px;
  background-color: rgb(193, 193, 193);
  opacity: 0.5;
  width: 100%;
}
header .head-up .down {
  height: 94px;
}
header .head-up .down .logo {
  height: 94px;
  display: flex;
  align-items: center;
}
header .head-up .down .search {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
header .head-up .down .search i {
  position: absolute;
  z-index: 2;
  left: 125px;
  transform: rotateY(180deg);
  font-size: 20px;
  -webkit-text-stroke: 0.5px white;
  color: rgb(51, 51, 51);
  transition: all 0.3s;
  cursor: pointer;
}
header .head-up .down .search i:hover {
  color: rgb(252, 185, 65);
}
header .head-up .down .search input {
  position: absolute;
  width: 550px;
  height: 44px;
  outline: none;
  border-radius: 48px;
  padding-left: 50px;
  border: 0;
}
header .head-up .down .right-icons {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header .head-up .down .right-icons .compare {
  align-items: center;
  text-align: center;
  cursor: pointer;
}
header .head-up .down .right-icons .compare i {
  color: white;
  font-size: 27px;
  -webkit-text-stroke: 2px rgb(51, 51, 51);
  transition: all 0.5s;
}
header .head-up .down .right-icons .compare p {
  color: white;
  margin: 0;
  font-size: 12px;
  opacity: 0.7;
}
header .head-up .down .right-icons .compare:hover > i {
  color: rgb(252, 185, 65);
}
header .head-up .down .right-icons .wishlist,
header .head-up .down .right-icons .cart {
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}
header .head-up .down .right-icons .wishlist i,
header .head-up .down .right-icons .cart i {
  color: white;
  font-size: 27px;
  -webkit-text-stroke: 1px rgb(51, 51, 51);
  transition: all 0.5s;
}
header .head-up .down .right-icons .wishlist p,
header .head-up .down .right-icons .cart p {
  color: white;
  margin: 0;
  font-size: 12px;
  opacity: 0.7;
}
header .head-up .down .right-icons .wishlist span,
header .head-up .down .right-icons .cart span {
  position: absolute;
  background-color: orange;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 11px;
}
header .head-up .down .right-icons .wishlist .wish-count,
header .head-up .down .right-icons .cart .wish-count {
  right: 2px;
  top: -4px;
}
header .head-up .down .right-icons .wishlist .cart-count,
header .head-up .down .right-icons .cart .cart-count {
  right: -4px;
  top: -4px;
}
header .head-up .down .right-icons .wishlist:hover > i,
header .head-up .down .right-icons .cart:hover > i {
  color: rgb(252, 185, 65);
}

.container {
  width: 1188px !important;
  margin: 0 auto !important;
}/*# sourceMappingURL=home.css.map */