@import "./../variables/variables";

body {
    font-family: 'Mulish', sans-serif;
}

header {
    width: 100%;

    .head-up {
        background-color: rgb(51, 51, 51);
        height: 135px;

        .up {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                display: flex;
                align-items: center;

                i {
                    text-shadow: 0px 1px rgb(187, 187, 187), 0px -1px rgb(187, 187, 187), 1px 0px rgb(187, 187, 187), -1px 0px rgb(187, 187, 187);
                    font-size: 14px;
                }

                span {
                    color: rgb(169, 178, 187);
                    margin-left: 10px;
                    font-size: 13px;
                }
            }

            .right {
                display: flex;
                align-items: center;
                height: 38px;

                ul {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    height: 100%;
                    align-items: center;

                    li {
                        margin-left: 10px;
                        margin-right: 10px;
                        color: rgb(169, 178, 187);
                        font-size: 14px;
                        cursor: pointer;
                        transition: all 0.5s;
                        height: 20px;

                        i {
                            font-size: 12px;
                            margin-left: 5px;
                        }

                        a {
                            text-decoration: none;
                            color: rgb(169, 178, 187);
                            transition: all 0.5s;

                            &:hover {
                                color: $hover-color;
                            }
                        }

                        &:hover {
                            color: $hover-color;
                        }
                    }

                    .currency-dropdown {
                        position: relative;
                        height: 50px;
                        display: flex;
                        align-items: center;


                        .dropdown {
                            display: none;
                            position: absolute;
                            margin-top: 101px;

                            .euro,
                            .dollar {
                                height: 30px;
                                display: flex;
                                align-items: center;
                            }

                        }

                        &:hover>.dropdown {
                            display: block;
                            z-index: 2;
                            height: 60px;
                            background: white;
                            width: 50px;
                            padding: 0;
                        }


                    }

                    .language-dropdown {
                        position: relative;
                        height: 50px;
                        display: flex;
                        align-items: center;


                        .dropdown {
                            display: none;
                            position: absolute;
                            margin-top: 131px;

                            .english,
                            .spanish,
                            .french {
                                height: 30px;
                                display: flex;
                                align-items: center;
                            }

                        }

                        &:hover>.dropdown {
                            display: block;
                            z-index: 2;
                            height: 90px;
                            background: white;
                            width: 65px;
                            padding: 0;
                        }


                    }
                }
            }
        }

        .line {
            height: 1px;
            background-color: rgb(193, 193, 193);
            opacity: 0.5;
            width: 100%;
        }

        .down {
            height: 94px;

            .logo {
                height: 94px;
                display: flex;
                align-items: center;
            }

            .search {
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: center;

                i {
                    position: absolute;
                    z-index: 2;
                    left: 125px;
                    transform: rotateY(180deg);
                    font-size: 20px;
                    -webkit-text-stroke: 0.5px white;
                    color: rgb(51, 51, 51);
                    transition: all 0.3s;
                    cursor: pointer;

                    &:hover {
                        color: $hover-color;
                    }
                }

                input {
                    position: absolute;
                    width: 565px;
                    height: 44px;
                    outline: none;
                    border-radius: 48px;
                    padding-left: 50px;
                    border: 0;

                }
            }

            .right-icons {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: space-between;

                .compare {
                    align-items: center;
                    text-align: center;
                    cursor: pointer;

                    i {
                        color: white;
                        font-size: 27px;
                        -webkit-text-stroke: 2px rgb(51, 51, 51);
                        transition: all 0.5s;
                    }

                    p {
                        color: white;
                        margin: 0;
                        font-size: 12px;
                        opacity: 0.7;
                    }

                    &:hover>i {
                        color: $hover-color;
                    }
                }

                .wishlist {
                    align-items: center;
                    text-align: center;
                    position: relative;
                    cursor: pointer;

                    i {
                        color: white;
                        font-size: 27px;
                        transition: all 0.5s;
                    }

                    p {
                        color: white;
                        margin: 0;
                        font-size: 12px;
                        opacity: 0.7;
                    }

                    span {
                        position: absolute;
                        background-color: orange;
                        border-radius: 100%;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 2;
                        font-size: 11px;
                    }

                    .wish-count {
                        right: 2px;
                        top: -4px;
                    }

                    .cart-count {
                        right: -4px;
                        top: -4px;
                    }

                    &:hover>i {
                        color: $hover-color;
                    }
                }

                .cart {
                    align-items: center;
                    text-align: center;
                    position: relative;
                    cursor: pointer;

                    i {
                        font-size: 27px;
                        -webkit-text-stroke: 1px white;
                        color: rgb(51, 51, 51);
                        transition: all 0.5s;
                    }

                    p {
                        color: white;
                        margin: 0;
                        font-size: 12px;
                        opacity: 0.7;
                    }

                    span {
                        position: absolute;
                        background-color: orange;
                        border-radius: 100%;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 2;
                        font-size: 11px;
                    }

                    .wish-count {
                        right: 2px;
                        top: -4px;
                    }

                    .cart-count {
                        right: -4px;
                        top: -4px;
                    }

                    &:hover>i {
                        -webkit-text-stroke: 1px $hover-color;
                        color: rgb(51, 51, 51);
                    }
                }
            }
        }
    }

    .navbar {
        padding: 0;
        height: 60px;

        .container {
            display: block;
        }

        .left {
            margin-left: 11px;
            display: flex;
            align-items: center;
            position: relative;
            height: 60px;
            transition: all 0.5s;
            padding-left: 15px;
            padding-right: 15px;
            cursor: pointer;

            .fa-chevron-down {
                position: absolute;
                right: 15px;
                -webkit-text-stroke: 1px white;
            }

            .fa-bars {
                margin-right: 20px;
                font-size: 20px;
                -webkit-text-stroke: 1px white;
            }

            .fa-x {
                margin-right: 20px;
                font-size: 20px;
                display: none;
                color: white;
                -webkit-text-stroke: 1px $hover-color;
            }

            span {
                font-weight: 600;
                opacity: 0.8;
                font-size: 15px;
            }

            &:hover {
                background-color: $hover-color;
            }

            &:hover>.fa-bars {
                -webkit-text-stroke: 1px $hover-color;
                display: none;
            }

            &:hover>.fa-x {
                display: block;
            }

            &:hover>.fa-chevron-down {
                color: white;
                -webkit-text-stroke: 1px $hover-color;
            }

            &:hover>span {
                color: white;
            }

            &:hover>.left-dropdown {
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                top: 60px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                height: 394px;

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        border-top: 0.5px solid rgba(0, 0, 0, 0.5);
                        border-left: 0.5px solid rgba(0, 0, 0, 0.5);
                        border-right: 0.5px solid rgba(0, 0, 0, 0.5);
                        padding: 10px;
                        font-size: 15px;
                        line-height: 15px;
                        opacity: 0.7;
                        transition: all 0.3s;

                        &:hover {
                            color: $hover-color;
                        }
                    }

                    .last-list-element {
                        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
                    }
                }
            }

            .left-dropdown {
                display: none;
                position: absolute;
                z-index: 4;
                background: white;
            }
        }

        .center {
            height: 100%;
            position: relative;

            .left-line {
                float: left;
                height: 25%;
                width: 0.5px;
                background-color: grey;
                opacity: 0.5;
                position: absolute;
                top: 22.5px;
            }

            .right-line {
                float: right;
                height: 25%;
                width: 1px;
                background-color: grey;
                opacity: 0.5;
                position: absolute;
                right: 0px;
                top: 22.5px;
            }

            .contents {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 93%;

                ul:not(.dropdown-list) {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 580px;
                    justify-content: space-around;
                    position: relative;
                    align-items: center;
                    height: 100%;
                    font-size: 14px;

                    li:not(.dropdown-list-item) {
                        display: flex;
                        position: relative;
                        width: 55px;
                        text-align: center;
                        height: 100%;
                        align-items: center;
                        justify-content: center;

                        a {
                            text-decoration: none;
                            color: black;
                            transition: all 0.25s;


                            i {
                                font-size: 10px;
                                -webkit-text-stroke: 0.3px white;
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: $hover-color;
                            transform-origin: bottom right;
                            transition: transform 0.25s ease-out;
                        }

                        &:hover::after {
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }

                        &:hover>a {
                            color: $hover-color;
                        }
                    }

                }

                .drop-hover {

                    &:hover>.dropdown-list ul {
                        display: block;
                    }
                }

                .dropdown-list {
                    ul {
                        display: none;
                        position: absolute;
                        list-style: none;
                        padding: 0;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        width: 160px;
                        height: 180px;
                        top: 62px;
                        padding-left: 20px;
                        left: 0;
                        z-index: 2;

                        background: white;
                    }

                    &:hover {
                        display: block;
                    }

                    .dropdown-list-item {
                        display: flex;
                        justify-content: flex-start;
                        height: 45px;
                        align-items: center;

                        a {
                            opacity: 0.8;
                            font-size: 15px;
                            transition: all 0.5s;
                            padding: 0 !important;

                            &:hover {
                                color: $hover-color;
                            }
                        }
                    }
                }

            }
        }

        .right {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: end;

            i {
                margin-right: 13px;
                font-size: 13px;
            }

            span {
                font-weight: 500;
                font-size: 15px;

                span {
                    opacity: 0.6;
                }
            }
        }

    }

    .header-line {
        position: relative;
        bottom: 16px;
    }

}

main {

    #slider-banner {
        position: relative;

        .slider {
            position: relative;

            .fa-chevron-left,
            .fa-chevron-right {
                position: absolute;
                z-index: 2;
                font-size: 30px;

                opacity: 0.7;
                transition: all 0.5s;

                &:hover {
                    color: $hover-color;
                    cursor: pointer;
                }
            }

            .fa-chevron-left {
                left: 40px;
                top: 200px;
            }

            .fa-chevron-right {
                right: 40px;
                top: 200px;
            }

            .slide {

                .tab-1 {
                    position: relative;

                    .content {
                        position: absolute;
                        z-index: 2;
                        left: 90px;
                        top: 63px;
                        height: 295px;




                        p {
                            color: $hover-color;
                            font-size: 24px;
                        }

                        h1 {
                            width: 200px;
                            opacity: 0.8;
                            -webkit-text-stroke: 4px black;
                        }

                        .span1 {
                            font-size: 20px;
                            font-weight: 600;
                            position: absolute;
                        }

                        .span2 {
                            color: rgb(252, 185, 65);
                            font-size: 50px;
                            position: absolute;
                            -webkit-text-stroke: 3px $hover-color;
                            left: 75px;
                            bottom: 75px;
                        }

                        .span3 {
                            color: rgb(252, 185, 65);
                            position: absolute;
                            left: 190px;
                            bottom: 103px;
                            font-size: 25px;
                            font-weight: bolder;
                        }

                        a {
                            position: absolute;
                            z-index: 2;
                            bottom: 0px;
                            height: 47px;
                            text-decoration: none;
                            color: white;
                            background-color: rgb(252, 185, 65);
                            padding: 15px;
                            border-radius: 30px;
                            width: 180px;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            transition: all 0.5s;

                            i {
                                font-size: 12px;
                            }

                            &:hover {
                                background-color: rgb(191, 145, 61);
                            }
                        }
                    }
                }

                .tab-2 {
                    position: relative;

                    .content {
                        position: absolute;
                        z-index: 2;
                        left: 90px;
                        top: 63px;
                        height: 295px;

                        p {
                            color: $hover-color;
                            font-size: 24px;
                        }

                        h1 {
                            width: 200px;
                            opacity: 0.8;
                            -webkit-text-stroke: 4px black;
                        }

                        .span1 {
                            font-size: 20px;
                            font-weight: 600;
                            position: absolute;
                            text-decoration: line-through;
                        }

                        .span2 {
                            color: rgb(252, 185, 65);
                            font-size: 50px;
                            position: absolute;
                            -webkit-text-stroke: 3px $hover-color;
                            left: 75px;
                            bottom: 75px;
                        }

                        .span3 {
                            color: rgb(252, 185, 65);
                            position: absolute;
                            left: 165px;
                            bottom: 103px;
                            font-size: 25px;
                            font-weight: bolder;
                        }

                        a {
                            position: absolute;
                            z-index: 2;
                            bottom: 0px;
                            height: 47px;
                            text-decoration: none;
                            color: white;
                            background-color: rgb(252, 185, 65);
                            padding: 15px;
                            border-radius: 30px;
                            width: 180px;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            transition: all 0.5s;

                            i {
                                font-size: 12px;
                            }

                            &:hover {
                                background-color: rgb(191, 145, 61);
                            }
                        }
                    }
                }
            }

        }

        .banner {
            height: 600px;
            width: 100%;

            .card-1 {
                height: 120px;
                position: relative;

                .content {
                    position: absolute;
                    padding-left: 20px;
                    height: 120px;
                    padding-top: 10px;

                    span {
                        font-size: 15px;
                        opacity: 0.7;
                        transition: all 0.5s;
                        cursor: pointer;

                        &:hover {
                            color: $hover-color;
                        }
                    }

                    p {
                        margin: 0;
                        -webkit-text-stroke: 1px black;
                        cursor: pointer;
                        transition: all 0.5s;
                        padding-bottom: 8px;

                        &:hover {
                            color: $hover-color;
                            -webkit-text-stroke: 1px $hover-color;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $hover-color;
                        padding-left: 10px;
                        padding-right: 10px;
                        position: absolute;
                        left: 10px;
                        transition: all 0.3s;
                        font-size: 14px;
                        bottom: 10px;

                        i {
                            font-size: 11px;
                        }

                        &:hover {
                            color: white;
                            background-color: $hover-color;
                            border-radius: 15px;
                        }
                    }
                }

                img {
                    position: absolute;
                }
            }

            .card-2,
            .card-3 {
                height: 120px;
                position: relative;
                margin-top: 20px;

                .content {
                    position: absolute;
                    padding-left: 20px;
                    height: 120px;
                    padding-top: 10px;

                    span:not(.secondSpan) {
                        font-size: 15px;
                        opacity: 0.7;
                        transition: all 0.5s;
                        cursor: pointer;

                        &:hover {
                            color: $hover-color;
                        }
                    }

                    p {
                        margin: 0;
                        -webkit-text-stroke: 1px black;
                        cursor: pointer;
                        transition: all 0.5s;
                        padding-bottom: 8px;
                        width: 185px;

                        span{
                            -webkit-text-stroke: 0px;
                            font-size: 18px;
                            position: absolute;
                            bottom: 41px;
                        }

                        &:hover {
                            color: $hover-color;
                            -webkit-text-stroke: 1px $hover-color;
                        }

                        &:hover~.secondP {
                            color: $hover-color;
                        }
                    }


                    a {
                        text-decoration: none;
                        color: $hover-color;
                        padding-left: 10px;
                        padding-right: 10px;
                        position: absolute;
                        left: 10px;
                        transition: all 0.3s;
                        font-size: 14px;
                        bottom: 10px;

                        i {
                            font-size: 11px;
                        }

                        &:hover {
                            color: white;
                            background-color: $hover-color;
                            border-radius: 15px;
                        }
                    }
                }

                img {
                    position: absolute;
                }
            }





        }
    }



}



























@keyframes content {
    0% {
        opacity: 0;
        transform: translate(0px, 50px);
        transform-origin: 0px 0px;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.content-animation {
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 100ms;
    animation-name: content;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.container {
    width: 1188px !important;
}

.col-3,
.col-6 {
    padding: 0;
}