header {
  width: 100%;
}
header .head-up {
  background-color: rgb(51, 51, 51);
  height: 135px;
}
header .head-up .up {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .head-up .up .left {
  display: flex;
  align-items: center;
}
header .head-up .up .left i {
  text-shadow: 0px 1px rgb(187, 187, 187), 0px -1px rgb(187, 187, 187), 1px 0px rgb(187, 187, 187), -1px 0px rgb(187, 187, 187);
  font-size: 14px;
}
header .head-up .up .left span {
  color: rgb(169, 178, 187);
  margin-left: 10px;
  font-size: 13px;
}
header .head-up .up .right {
  display: flex;
  align-items: center;
  height: 38px;
}
header .head-up .up .right ul {
  display: flex;
  list-style: none;
  margin: 0;
  height: 100%;
  align-items: center;
}
header .head-up .up .right ul li {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(169, 178, 187);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s;
  height: 20px;
}
header .head-up .up .right ul li i {
  font-size: 12px;
  margin-left: 5px;
}
header .head-up .up .right ul li a {
  text-decoration: none;
  color: rgb(169, 178, 187);
  transition: all 0.5s;
}
header .head-up .up .right ul li a:hover {
  color: rgb(252, 185, 65);
}
header .head-up .up .right ul li:hover {
  color: rgb(252, 185, 65);
}
header .head-up .up .right ul .currency-dropdown {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
header .head-up .up .right ul .currency-dropdown .dropdown {
  display: none;
  position: absolute;
  margin-top: 101px;
}
header .head-up .up .right ul .currency-dropdown .dropdown .euro,
header .head-up .up .right ul .currency-dropdown .dropdown .dollar {
  height: 30px;
  display: flex;
  align-items: center;
}
header .head-up .up .right ul .currency-dropdown:hover > .dropdown {
  display: block;
  z-index: 2;
  height: 60px;
  background: white;
  width: 50px;
  padding: 0;
}
header .head-up .up .right ul .language-dropdown {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
header .head-up .up .right ul .language-dropdown .dropdown {
  display: none;
  position: absolute;
  margin-top: 131px;
}
header .head-up .up .right ul .language-dropdown .dropdown .english,
header .head-up .up .right ul .language-dropdown .dropdown .spanish,
header .head-up .up .right ul .language-dropdown .dropdown .french {
  height: 30px;
  display: flex;
  align-items: center;
}
header .head-up .up .right ul .language-dropdown:hover > .dropdown {
  display: block;
  z-index: 2;
  height: 90px;
  background: white;
  width: 65px;
  padding: 0;
}
header .head-up .line {
  height: 1px;
  background-color: rgb(193, 193, 193);
  opacity: 0.5;
  width: 100%;
}
header .head-up .down {
  height: 94px;
}
header .head-up .down .logo {
  height: 94px;
  display: flex;
  align-items: center;
}
header .head-up .down .search {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
header .head-up .down .search i {
  position: absolute;
  z-index: 2;
  left: 125px;
  transform: rotateY(180deg);
  font-size: 20px;
  -webkit-text-stroke: 0.5px white;
  color: rgb(51, 51, 51);
  transition: all 0.3s;
  cursor: pointer;
}
header .head-up .down .search i:hover {
  color: rgb(252, 185, 65);
}
header .head-up .down .search input {
  position: absolute;
  width: 565px;
  height: 44px;
  outline: none;
  border-radius: 48px;
  padding-left: 50px;
  border: 0;
}
header .head-up .down .right-icons {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header .head-up .down .right-icons .compare {
  align-items: center;
  text-align: center;
  cursor: pointer;
}
header .head-up .down .right-icons .compare i {
  color: white;
  font-size: 27px;
  -webkit-text-stroke: 2px rgb(51, 51, 51);
  transition: all 0.5s;
}
header .head-up .down .right-icons .compare p {
  color: white;
  margin: 0;
  font-size: 12px;
  opacity: 0.7;
}
header .head-up .down .right-icons .compare:hover > i {
  color: rgb(252, 185, 65);
}
header .head-up .down .right-icons .wishlist {
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}
header .head-up .down .right-icons .wishlist i {
  color: white;
  font-size: 27px;
  transition: all 0.5s;
}
header .head-up .down .right-icons .wishlist p {
  color: white;
  margin: 0;
  font-size: 12px;
  opacity: 0.7;
}
header .head-up .down .right-icons .wishlist span {
  position: absolute;
  background-color: orange;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 11px;
}
header .head-up .down .right-icons .wishlist .wish-count {
  right: 2px;
  top: -4px;
}
header .head-up .down .right-icons .wishlist .cart-count {
  right: -4px;
  top: -4px;
}
header .head-up .down .right-icons .wishlist:hover > i {
  color: rgb(252, 185, 65);
}
header .head-up .down .right-icons .cart {
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}
header .head-up .down .right-icons .cart i {
  font-size: 27px;
  -webkit-text-stroke: 1px white;
  color: rgb(51, 51, 51);
  transition: all 0.5s;
}
header .head-up .down .right-icons .cart p {
  color: white;
  margin: 0;
  font-size: 12px;
  opacity: 0.7;
}
header .head-up .down .right-icons .cart span {
  position: absolute;
  background-color: orange;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 11px;
}
header .head-up .down .right-icons .cart .wish-count {
  right: 2px;
  top: -4px;
}
header .head-up .down .right-icons .cart .cart-count {
  right: -4px;
  top: -4px;
}
header .head-up .down .right-icons .cart:hover > i {
  -webkit-text-stroke: 1px rgb(252, 185, 65);
  color: rgb(51, 51, 51);
}
header .navbar {
  padding: 0;
  height: 60px;
}
header .navbar .left {
  margin-left: 11px;
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  transition: all 0.5s;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
header .navbar .left .fa-chevron-down {
  position: absolute;
  right: 15px;
  -webkit-text-stroke: 1px white;
}
header .navbar .left .fa-bars {
  margin-right: 20px;
  font-size: 20px;
  -webkit-text-stroke: 1px white;
}
header .navbar .left .fa-x {
  margin-right: 20px;
  font-size: 20px;
  display: none;
  color: white;
  -webkit-text-stroke: 1px rgb(252, 185, 65);
}
header .navbar .left span {
  font-weight: 600;
  opacity: 0.8;
  font-size: 15px;
}
header .navbar .left:hover {
  background-color: rgb(252, 185, 65);
}
header .navbar .left:hover > .fa-bars {
  -webkit-text-stroke: 1px rgb(252, 185, 65);
  display: none;
}
header .navbar .left:hover > .fa-x {
  display: block;
}
header .navbar .left:hover > .fa-chevron-down {
  color: white;
  -webkit-text-stroke: 1px rgb(252, 185, 65);
}
header .navbar .left:hover > span {
  color: white;
}
header .navbar .left:hover > .left-dropdown {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 394px;
}
header .navbar .left:hover > .left-dropdown ul {
  list-style: none;
  padding: 0;
}
header .navbar .left:hover > .left-dropdown ul li {
  border-top: 0.5px solid rgba(0, 0, 0, 0.5);
  border-left: 0.5px solid rgba(0, 0, 0, 0.5);
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 15px;
  line-height: 15px;
  opacity: 0.7;
  transition: all 0.3s;
}
header .navbar .left:hover > .left-dropdown ul li:hover {
  color: rgb(252, 185, 65);
}
header .navbar .left:hover > .left-dropdown ul .last-list-element {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}
header .navbar .left .left-dropdown {
  display: none;
}
header .navbar .center {
  height: 100%;
  position: relative;
}
header .navbar .center .left-line {
  float: left;
  height: 25%;
  width: 0.5px;
  background-color: grey;
  opacity: 0.5;
  position: absolute;
  top: 28px;
}
header .navbar .center .right-line {
  float: right;
  height: 25%;
  width: 1px;
  background-color: grey;
  opacity: 0.5;
  position: absolute;
  right: 0px;
  top: 28px;
}
header .navbar .center .contents {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 93%;
}
header .navbar .center .contents ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 580px;
  justify-content: space-around;
}
header .navbar .center .contents ul li {
  display: inline-block;
  position: relative;
  width: 55px;
  text-align: center;
}
header .navbar .center .contents ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.25s;
  padding-bottom: 10px;
}
header .navbar .center .contents ul li a i {
  font-size: 10px;
  -webkit-text-stroke: 0.3px white;
}
header .navbar .center .contents ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -18px;
  left: 0;
  background-color: rgb(252, 185, 65);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header .navbar .center .contents ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .navbar .center .contents ul li:hover > a {
  color: rgb(252, 185, 65);
}
header .navbar .right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
header .navbar .right i {
  margin-right: 13px;
  font-size: 13px;
}
header .navbar .right span {
  font-weight: 500;
  font-size: 15px;
}
header .navbar .right span span {
  opacity: 0.6;
}
header .header-line {
  position: relative;
  bottom: 16px;
}

.container-edit {
  width: 1188px !important;
  margin: 0 auto !important;
}

.col-3,
.col-6 {
  padding: 0;
}/*# sourceMappingURL=home.css.map */